<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthentController</servlet-name>
        <servlet-class>control.AuthentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>control.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>control.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthentAdminController</servlet-name>
        <servlet-class>control.admin.AuthentAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerProfileController</servlet-name>
        <servlet-class>control.seller.SellerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerDashboardController</servlet-name>
        <servlet-class>control.seller.SellerDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerManageProductController</servlet-name>
        <servlet-class>control.seller.SellerManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerManageInvoiceController</servlet-name>
        <servlet-class>control.seller.SellerManageInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>control.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>control.Checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthentController</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthentAdminController</servlet-name>
        <url-pattern>/admin/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerProfileController</servlet-name>
        <url-pattern>/sellerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerDashboardController</servlet-name>
        <url-pattern>/seller/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerManageProductController</servlet-name>
        <url-pattern>/seller/manageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerManageInvoiceController</servlet-name>
        <url-pattern>/seller/manageInvoice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
